[submodule "cookbooks/wordpress"]
	path = cookbooks/wordpress
	url = git@github.com:coletivoEITA/wordpress-cookbook.git
[submodule "cookbooks/fetchmail"]
	path = cookbooks/fetchmail
	url = git@github.com:coletivoEITA/fetchmail-cookbook.git
[submodule "cookbooks/request-tracker"]
	path = cookbooks/request-tracker
	url = git@github.com:coletivoEITA/request-tracker-cookbook.git
[submodule "cookbooks/etherpad-lite"]
	path = cookbooks/etherpad-lite
	url = git@github.com:coletivoEITA/etherpad-lite-cookbook.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git@github.com:coletivoEITA/apache2-cookbook
[submodule "cookbooks/nginx-fallback-to-apache"]
	path = cookbooks/nginx_fallback_to_apache
	url = git@github.com:coletivoEITA/nginx-fallback-to-apache-cookbook.git
[submodule "cookbooks/noosfero"]
	path = cookbooks/noosfero
	url = git@github.com:coletivoEITA/noosfero-cookbook.git
